html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  margin-bottom: -330px;
  position: relative;
}

#footer {
  height: 330px;
  position: relative;
}

body {
  margin: 0;
  background-color: #fdfdfd;
  position: fixed;
  min-height: 100%;
  width: 100%;
  font-family:
    -apple-system,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.CircularProgressbar {
  width: 70%;
  height: 140%;
}

@media only screen and (max-width: 991px) {
  .CircularProgressbar {
    width: 70%;
    height: 170%;
  }

  .nav.sc-Axhel.irvNbp {
    margin: 0;
  }
}

@media only screen and (max-width: 576px) {
  div.sport.col-sm-6.col-6 {
    padding: 0;
  }

  input {
    width: 160%;
  }
}

h1,
p {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

div.col {
  padding: 0;
}

div.container {
  padding: 0;
}

.middle {
  vertical-align: middle;
  padding-top: 18px;
  padding-left: 20px;
}
